# Ramda
snippet ram
	const R = require('ramda')
# Lodash
snippet _
	const _ = require('lodash')
# Global Namespace Library (dependancy - lodash)
snippet glib
	const { assignIn } = require('lodash')
	assignIn(global, require('${1}'))
# Alias console.log with log
snippet clog
	const log = console.log
# Eslint Disable Comment
snippet eslint
	/* eslint ${1}: "off" */
# Flow Comment Types
snippet fl
	/*:: ${1} */
# Flow function types
snippet t
	/*: ${1} */
